<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drojian.qrcode.scanresultlib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.google.android.apps.docs.editors.docs" />
        <package android:name="jp.naver.line.android" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.instagram.android" />
        <package android:name="com.facebook.orca" />
        <package android:name="com.twitter.android" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.whatsapp" />
        <package android:name="com.spotify.music" />
        <package android:name="com.paypal.android.p2pmobile" />
        <package android:name="com.viber.voip" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.autonavi.minimap" />
        <package android:name="com.baidu.BaiduMap" />
        <package android:name="com.tencent.map" />
        <package android:name="com.microsoft.office.officehubrow" />
        <package android:name="com.google.android.apps.docs" />
        <package android:name="com.facebook.katana" />

        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
</manifest>